@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

@media (max-width: 767px) {
width: 100%;
}

body{
  font-family: "Roboto condensed";
}

h1 {
font-family: "Roboto";  
}

h1 i{
  text-decoration: underline;
}

.gauche  {
display: flex;
align-item: center;
justify-content: flex-end;
float:left;
width:65%;
height: 850px;
background:url(https://cdn.pixabay.com/photo/2015/11/07/11/02/milky-way-1030765_1280.jpg);
}

.droit{
display: flex;
align-item: center;
justify-content: flex-start;
width:35%;
height: 850px;
background:#F8E226
}

.homeback{
color: White;
font-weight: bold;
font-size: 30px;
position: absolute;
top:60px; left:60px
}

a{
color: black;
}

.contact{
  text-decoration: none;
  position: absolute;
  top:758px;left: 60px;
  font-weight: light;
  padding: 10px;
  color: white;
  border: 0.5px white solid;
  letter-spacing: 5px;
}

.titreblanc{
  color : white;
  text-align:right;
  position: relative;
  top:15%; right: 13px;
  font-size: 500%;
}

.titrenoir{
  color : black;
  text-align:left;
  position: relative;
  top:15%; left: 13px;
  font-size: 500%;
}

.reseau{
  font-weight: bold;
  color : black;
  text-align:left;
  position: relative;
  top:697px; right: 6em;  
}

.social{
  text-decoration: none;
  font-size: 66%;
}

#what-i-do{
  background:#F7F7F7;
  height: 650px;
}

.content-titre1{
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  top:100px;
  align-items: center
}

.titre3{
  font-size: 200%;
}

.box{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.card{
  min-width: 300px;
  position: relative;
  width: 30%;
  height: calc(300px - 30px);
  background: #ff0;
  float: left;
  margin: 8px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
  }

.box .card .mini-card{
  position: relative;
  top: 20%;
}

.mini-card{
  color : #333332;
}
