@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

@media (max-width: 767px) {
width: 100%;
}

body{
  font-family: "Roboto condensed";
}

h1 {
font-family: "Roboto";  
}

h1 i{
  text-decoration: underline;
}

.gauche  {
display: flex;
align-item: center;
justify-content: flex-end;
float:left;
width:65%;
height: 850px;
background:url(https://cdn.pixabay.com/photo/2015/11/07/11/02/milky-way-1030765_1280.jpg);
}

.droit{
display: flex;
align-item: center;
justify-content: flex-start;
width:35%;
height: 850px;
background:#F8E226
}

.homeback{
color: White;
font-weight: bold;
font-size: 30px;
position: absolute;
top:60px; left:60px
}

a{
color: black;
}

.contact{
  text-decoration: none;
  position: absolute;
  top:758px;left: 60px;
  font-weight: light;
  padding: 10px;
  color: white;
  border: 0.5px white solid;
  letter-spacing: 5px;
}

.titreblanc{
  color : white;
  text-align:right;
  position: relative;
  top:15%; right: 13px;
  font-size: 500%;
}

.titrenoir{
  color : black;
  text-align:left;
  position: relative;
  top:15%; left: 13px;
  font-size: 500%;
}

.reseau{
  font-weight: bold;
  color : black;
  text-align:left;
  position: relative;
  top:697px; right: 6em;  
}

.social{
  text-decoration: none;
  font-size: 66%;
}

#what-i-do{
  background:#F7F7F7;
  padding-top: 2%;
  padding-bottom: 15%;
}

.content-titre1{
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  top:100px;
}

.titre3{
  font-size: 350%;
  text-align: center;
  font-weight: normal;
}

.content-titre2{
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  top:20px;
}

.box{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
}

.card{
  min-width: 300px;
  position: relative;
  width: 30%;
  height: calc(300px - 30px);
  background: white;
  float: left;
  margin: 10px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2px;
  }

.box .card .mini-card{
  position: relative;
  top: 20%;
}

.mini-card{
  color: #333333;
}

#work{
  padding-bottom: 13%;
}

.wrapper {
  border: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; 
  margin: 100px 180px -10px;
  margin-top: 100px;
}

.wrapper > * {
  padding: 10px; 
  flex: 1 100%;
}

.aside-1 {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1;
  color: white;
}

img{
  width: 330px;
}

.aside-2 {
  background: #F8E226;
  padding: 60px; 
  flex: 1;
}
 
  .aside-1 {
    order :1; 
  }
  .aside-2 {
    order :1;
}

.site-wordpress{
  font-size: 100%;
}

.nom-projet-1{
  color: black;
  font-weight: bold;
  font-size: 200%;
  
}

.bouton{
  background-color: white;
  text-decoration : none; 
  padding: 13px 35px 13px;
  font-weight: bold;
  position: relative;
  top: 22px
}

.bouton:hover{
  background-color: #3C00DA;
  color: white
}

#Who{
  background:#F7F7F7;
  padding-top: 2%;
  padding-bottom: 10%;
}

@media only screen and (max-width: 767px) {
  .wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    flex: 1;
    display:flex;
    margin: 0px 0px 0px 0px ;
    margin-bottom: 100px;
  }
}

.content-life{
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left:15%;
  padding-right:15%;
}

#info{
  background: #3C00DA;
  padding-top: 2%;
  padding-bottom: 10%;
}

.info-element{
  font-size: 30px;
  color: white;
  padding-left: 17%;
}

.texte-info{
  font-size: 20px;
}